body{
    background-image: url(/assets/brandon-morgan-3qucB7U2l7I-unsplash.jpg);
    
}

.body-img-trans{
    /* background-image: url(/assets/blue-sky-with-cloud-closeup.jpg); */
    opacity: 5;
}

.div-search{
    position: relative;
    margin-top: 2%;
    margin-left: 30%;
}

.input-search{
    border-radius: 1vh;
    height: 35%;
    width: 60%;
    opacity: 0.3;
    color: black;
    font-size: larger;
    font-weight: 800;
}

.btn-search{
    border-radius: 2vh;
    height: 25%;
    width: 15%;
    background-color: #d1d8e0;
    opacity: 0.7;
}

.div-div{
    display: flex;
    flex-direction: column;
}

.current-weather{
    display: flex;
    flex-direction: row;
    width: 40%;
    background-color: #d1d8e0;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 2vh;
    opacity: 0.5;
    /* font-size: xx-large; */
}

.location-img{
    margin-left: 10%;
    width: 30%;
    height: 30%;
}
.lbl-city{
    position: relative;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 150%;
}

.date-container-day{
    margin-top: 5%;
    margin-left: 20%;
    font-size: 150%;
    font-weight: 600;
}

.date-container-date{
    margin-top: 0%;
    margin-left: 20%;
}

.live-time{
    margin-left: 20%;
    font-size: 180%;
}

.current-icon{
    background-color: antiquewhite;
    width: 30%;
    margin-left: 5%;
}
.div-current-condition{
    position: relative;
}

.current-icon-icon{
    height: 70%;
    margin-top: 10%;
}

.current-temp{
    font-size: 350%;
    margin-left: 25%;
    font-weight: 600;
}

.current-weather-condition{
    margin-top: 10%;
    margin-left: 40%;
    font-size: 150%;
}

.map-frame{
    position: relative;
    height: 40vh;
    width: 40%;
    margin-left: 5%;
    margin-top: 0%;
    border-radius: 20px;
}