body{
    background-image: url(/assets/brandon-morgan-3qucB7U2l7I-unsplash.jpg);
    
}

.body-img-trans{
    /* background-image: url(/assets/blue-sky-with-cloud-closeup.jpg); */
    opacity: 5;
}

.div-search{
    position: relative;
    margin-top: 2%;
    margin-left: 30%;
}

.input-search{
    border-radius: 1vh;
    height: 35%;
    width: 60%;
    opacity: 0.3;
    color: black;
    font-size: larger;
    font-weight: 800;
}

.btn-search{
    border-radius: 2vh;
    height: 25%;
    width: 15%;
    background-color: #d1d8e0;
    opacity: 0.7;
}

.div-div{
    display: flex;
    flex-direction: column;
}

.current-weather{
    /* display: flex;
    flex-direction: row;
    width: 40%;
    background-color: #d1d8e0;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 2vh;
    opacity: 0.5;
    font-size: xx-large; */
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 40vw;
    height: 35vh;
    left: 3vw;
    top: 25vh;

    background: rgba(89, 115, 180, 0.266);
    mix-blend-mode: normal;
    opacity: 0.6;
    border-radius: 30px;
    color: #fff;
}

.div-location-img{
    height: 5vh;
    width: 5vw;
}
.display-div-location{
    display: flex;
    flex-direction: row;
}

.location-img{
    margin-left: 2.5vh;
    width: 3vw;
    height: 3vw;
    margin-top: 1.5vh;
    /* height: 30%; */
}
.div-lbl-city{
    width: 15vw;
    height: 10vh;
}
.lbl-city{
    font-size: 2vw;
    font-weight: 700;
}

.div-date-details{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.date-container-day{
    /* margin-top: 5%;
    margin-left: 20%;
    font-size: 150%;
    font-weight: 600; */
    font-size: 1.5vw;
    margin-top: 1vw;
}

.date-container-date{
    /* margin-top: 0%;
    margin-left: 20%; */
    font-size: 1vw;
}

.live-time{
    /* margin-left: 20%;
    font-size: 180%; */
    font-size: 2.5vw;
    /* margin-left: 1vw; */
    margin-top: 0.5vw;
}

.div-current-condition{
    /* background-color: aqua; */
    height: 100%;
    width: 45%;
}

.div-current-icon{
    margin-top: 0.5vw;
    margin-left: 4vw;
    /* background-color: blue; */
}

.current-icon{
    /* background-color: aqua; */
   height: 6vw;
   width: 6vw;
}

.current-temp{
    margin-left: 4vw;
    font-size: 4vw;
    /* background-color: bisque; */
}
.current-weather-condition{
    font-size: 1.5vw;
    margin-left: 4vw;
}

.map-frame{
    /* position: relative;
    height: 40vh;
    width: 40%;
    margin-left: 5%;
    margin-top: 0%;
    border-radius: 20px; */
    /* Rectangle 5 */

    position: absolute;
    width: 40vw;
    height: 35vh;
    left: 3vw;
    top: 29vw;
    border-radius: 20px;

}



